<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel App</title>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@irinakramer" />
    <meta name="twitter:title" content="Travel App" />
    <meta name="twitter:description"
        content="Plan your trip: enter city and dates, see destination photo and weather forecast." />
    <meta name="twitter:image" content="https://travel-app-17.netlify.app/travel-app-screenshot.png" />
    <meta property="og:title" content="Evaluate News with NLP" />
    <meta property="og:description"
        content="Plan your trip: enter city and dates, see destination photo and weather forecast." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://travel-app-17.netlify.app/" />
    <meta property="og:image" content="https://travel-app-17.netlify.app/travel-app-screenshot.png" />
</head>

<body>

    <header>
        <div class="logo">
            <img src="../images/logo.png" alt="Evaluate News">
        </div>
        <div class="">
            <ul class="menu">
                <li><a href="http://www.irinakramer.com"><i class="fas fa-home"></i></a></li>
                <li><a href="https://github.com/irinakramer"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/irinakramer/"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </header>

    <main class="main">

        <!-- Section Intro -->

        <section id="intro" class="section section__intro">
            <div class="container intro__wrapper">
                <div class="intro__content">
                    <h1>Travel Planner</h1>
                    <h4>Get your trip together</h4>
                    <p>When you're ready to travel, use this simple resource to plan your trip, be
                        it overseas or domestic. You can enter your destination city and travel dates and will see a
                        beautiful photo and the weather forecast for your trip. Onwards!</p>
                    <a href="#" class="intro__link">+ add trip</a>
                </div>
            </div>
        </section>

        <!-- Section Planner -->

        <section id="planner" class="section section__planner">
            <div class="container planner__form">
                <div class="form__image section__image">
                    <img src="../images/travel-globe.png" alt="World Travel image">
                </div>
                <form class="form__content" id="form">
                    <h2>Plan your trip</h2>
                    <input type="text" class="form__input" name="from" placeholder="leaving from..." autocomplete="off"
                        required>
                    <input type="text" class="form__input" name="to" placeholder="going to..." autocomplete="off"
                        required>
                    <label class="date__label" for="date">Departing on...</label>
                    <input type="date" class="form__input input__date" name="date" required>
                    <input type="submit" class="input__submit" name="submit" value="Submit">
                </form>
            </div>
        </section>

        <!-- Section Result -->

        <section id="result" class="section section__result hidden">
            <div class="container result">
                <div class="result__image">
                    <img src="../images/travel-sights.jpg" alt="destination image" id="fromPixabay">
                </div>
                <div class="result__content">
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i>My trip to: <span id="city"></span></li>
                        <li><i class="fas fa-calendar-day"></i>Departing on: <span id="date">DD/MM/YYYY</span></li>
                        <li><i class="fas fa-suitcase-rolling"></i>This is <span id="days"> NUM </span> days away</li>
                        <li><i class="fas fa-cloud-sun-rain"></i><span id="weather-text">Weather</span>: High
                            <span id="temp-high">100</span> &#176;C, Low <span id="temp-low">0</span> &#176;C<span
                                id="summary"></span>.</li>
                    </ul>

                    <a class="button button__save" id="save" href="#">Print</a>
                    <a class="button button__delete" id="delete" href="#">Delete</a>

                </div>
            </div>
        </section>
    </main>

    <footer>

        <p>Project by <a href="http://www.irinakramer.com" target="_blank">Irina Kramer</a></p>
        <p>Udacity Front End Web Developer nanodegree</p>
    </footer>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>